<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluecat.mapper.SysUserRoleMapper">

    <!-- 根据用户ID查询角色ID列表 -->
    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role_id
        FROM sys_user_role
        WHERE user_id = #{userId}
    </select>

    <!-- 根据用户ID删除关联关系 -->
    <delete id="deleteByUserId">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>

</mapper>
